fastapi==0.115.0
uvicorn[standard]==0.30.6
pandas==2.2.2
numpy==1.26.4
finance-datareader==0.9.202
requests==2.32.3
beautifulsoup4==4.12.3
lxml==5.2.2
pydantic==2.9.2
libsql==0.1.11
python-dotenv==1.2.2
readability-lxml==0.8.4.1
